.portfolioPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolioPage h1 {
  margin-top: 4rem;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.yearAPI {
  margin: 2rem;
  font-size: 1.4rem;
}

.bootstrapSite {
  margin: 2rem;
  font-size: 1.4rem;
}

.groupProjct {
  margin: 2rem;
  font-size: 1.4rem;
}

.yearAPI img {
  height: 21.25rem;
}

.bootstrapSite img {
  height: 21.25rem;
}

.groupProjct img {
  height: 21.25rem;
}

.sources {
  display: flex;
  justify-content: space-evenly;
}
