.portfolioPage {
  height: 1080px;
  width: 1920px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(./31216424.jpg);
  margin-top: 10rem;
}

.portfolioPage h1 {
  margin-top: 7rem;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.yearAPI {
  margin: 2rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  background-color: #151c26;
  border-radius: 5%;
  border: 2px solid whitesmoke;
  background-image: url(./31216424.jpg);
  background-size: 350px;
}

.bootstrapSite {
  margin: 2rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  background-color: #151c26;
  border-radius: 5%;
  border: 2px solid whitesmoke;
  background-image: url(./31216424.jpg);
  background-size: 350px;
}

.groupProjct {
  margin: 2rem;
  font-size: 1.4rem;
  padding: 0.5rem;
  background-color: #151c26;
  border-radius: 5%;
  border: 2px solid whitesmoke;
  background-image: url(./31216424.jpg);
  background-size: 350px;
}

.yearAPI img {
  height: 21.25rem;
  width: 23.726rem;
}

.bootstrapSite img {
  height: 21.25rem;
  width: 23.726rem;
}

.groupProjct img {
  height: 21.25rem;
  width: 23.726rem;
}

.sources {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.sources span {
  font-size: 0.8rem;
  margin: 0.5rem;
}
