.skillsPage {
  height: 1080px;
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./48071.jpg);
  margin-top: 10rem;
}

#logo {
  height: 1080px;
  width: 1920px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.list1 {
  margin: 1rem;
}

.list2 {
  margin: 1rem;
}

.section1 {
  display: flex;
}

.html5 {
  margin: 1rem;
  background-color: #151c26;
  height: 7.375rem;
  width: 5.25rem;
  border-radius: 10%;
  border: 2px solid whitesmoke;
  background-image: url(./48071.jpg);
  background-size: 270px;
}

.section2 {
  display: flex;
}

.css3 {
  margin: 1rem;
  background-color: #151c26;
  height: 7.375rem;
  width: 5.25rem;
  border-radius: 10%;
  border: 2px solid whitesmoke;
  background-image: url(./48071.jpg);
  background-size: 270px;
}

.section3 {
  display: flex;
}

.js {
  margin: 1rem;
  background-color: #151c26;
  height: 7.375rem;
  width: 5.25rem;
  border-radius: 10%;
  border: 2px solid whitesmoke;
  background-image: url(./48071.jpg);
  background-size: 270px;
}

.section4 {
  display: flex;
}

.re {
  margin: 1rem;
  background-color: #151c26;
  height: 7.375rem;
  width: 5.25rem;
  border-radius: 10%;
  border: 2px solid whitesmoke;
  background-image: url(./48071.jpg);
  background-size: 270px;
}

.section5 {
  display: flex;
}

.node {
  margin: 1rem;
  background-color: #151c26;
  height: 7.375rem;
  width: 5.25rem;
  border-radius: 10%;
  border: 2px solid whitesmoke;
  background-image: url(./48071.jpg);
  background-size: 270px;
}

.section6 {
  display: flex;
}

.web {
  margin: 1rem;
  background-color: #151c26;
  height: 7.375rem;
  width: 5.25rem;
  border-radius: 10%;
  border: 2px solid whitesmoke;
  background-image: url(./48071.jpg);
  background-size: 270px;
}

.section7 {
  display: flex;
}

.git {
  margin: 1rem;
  background-color: #151c26;
  height: 7.375rem;
  width: 5.25rem;
  border-radius: 10%;
  border: 2px solid whitesmoke;
  background-image: url(./48071.jpg);
  background-size: 270px;
}
