.home p {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.home:hover p {
  color: #43638b;
}

.skills p {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.skills:hover p {
  color: #43638b;
}

.portfolio p {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.portfolio:hover p {
  color: #43638b;
}

.contact p {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.contact:hover p {
  color: #43638b;
}
