.home input {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
}

.home:hover input {
  color: #43638b;
}

.skills input {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
}

.skills:hover input {
  color: #43638b;
}

.portfolio input {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
}

.portfolio:hover input {
  color: #43638b;
}

.contact input {
  background-color: black;
  color: whitesmoke;
  font-size: 1.5rem;
  margin: 1rem;
  border: none;
  outline: none;
}

.contact:hover input {
  color: #43638b;
}
