.contactPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

#fb-contact {
  height: 50px;
}

#link-contact {
  height: 50px;
}

#git-contact {
  height: 45px;
}

.line1 {
  margin: 3rem;
}

.line2 {
  margin: 3rem;
}

.line3 {
  margin: 3rem;
}
