.contactPage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  flex: 1;
}

.conImg {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
}

.conImg span {
  font-size: 1.5rem;
  margin: 2rem;
}

#fb-contact {
  height: 70px;
}

#link-contact {
  height: 70px;
}

#git-contact {
  height: 70px;
}

.line1 {
  margin: 1rem;
  height: 200px;
  width: 150px;
  border-radius: 5%;
  background-color: #151c26;
}

.line2 {
  margin: 1rem;
  height: 200px;
  width: 150px;
  border-radius: 5%;
  background-color: #151c26;
}

.line3 {
  margin: 1rem;
  height: 200px;
  width: 150px;
  border-radius: 5%;
  background-color: #151c26;
}
