@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.main {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-family: "Quicksand", sans-serif;
}
